.register {
  height: calc(100vh - 55px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

.registerTitle {
  font-size: 50px;
  font-family: "Lora", serif;
  color: #333;
}

.registerForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.registerForm > label {
  margin: 10px 0;
}

.registerInput {
  padding: 10px;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.registerInput:focus {
  outline: none;
  border: 2px solid #3498db;
}

.registerButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: #3498db;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.registerButton:hover {
  background-color: #2980b9;
  transition: all 0.3s ease-out;
}
